/* Google Fonts'dan font yükledik */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Tüm HTML öğelerinde kullanabilmemizi sağlıyor. Varsayılan boşlukları ortadan kaldırdık */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

/*Kullandığımız ikonları beyaz gösterir ve üzerinde gelindiğinde işaretçi gözükmesini sağlar */
i {
    color: white;
    cursor: pointer;
}

/* Sayfanın renk geçişine sahip olmasını sağlıyor. Sol üst köşeden başlayarak doğrusal geçişe neden olur */
html,
body {
    height: 100vh;
    background: linear-gradient(#050505, #18181d);

}

/* Konteynerin genişliğini ve grid yapısını ayarladık */
.container {
    width: 100%;
    display: grid;
    background: linear-gradient(#050505, #18181d);
}


/* Navbar stilleri */

/*Navbardaki yazıların rengini ayarladık*/
.navbar-nav .nav-link {
    color: #f8f9fa;

}

/* Üzerine gelindiğinde linklerin rengini değiştirdik */
.nav-link[href="music"]:hover {
    color: #C73072;
    /* Music link hover rengi */
}

.nav-link[href="live"]:hover {
    color: #0D65D9;
    /* Live link hover rengi */
}


.nav-link[href="podcast"]:hover {
    color: #06604E;
    /* Podcast link hover rengi */
}

/*Dropdown menudeki yazının ve ikonun rengini ve paddingini ayarladık*/
.dropdown-menu .dropdown-item i {
    color: black;
    padding-right: 10px;
}

/* Arama kutusunun arka plan ve yazının rengini değiştirdik */
.form-control {
    background-color: black;
    color: #fff;
}

/*Balfy yazısının varolan rengi*/
.navbar-brand {
    color: #f8f9fa;
}

/*Balfy yazısının üzerine gelindiğinde rengi değişiyor*/

.navbar-brand:hover {
    color: rgb(253, 253, 253);

}

/*Search ikonunun inputa uzaklığını ayarladık*/
.searchh {
    padding-left: 10px;
}

/*Inputun yüksekliğini düşürdük*/
.searchh .form-control {
    height: 30px;
}

/*Trending kısmının stilini ayarladık*/
.container .trending {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    color: white;
}

.container .trending .left {
    display: flex;
    align-items: center;
}

.container .trending .left img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.container .trending .info h6 {
    font-size: 15px;
    margin-bottom: 20px;
}

.container .trending .right .buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.container .trending .left .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container .trending .left .info .additional-info {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

/*Trending kısmındaki listen now butonunun özellikleri*/
.container .trending .right .buttons button {
    background-color: #5773ff;
    border-radius: 14px;
    border: none;
    font-size: small;
    color: white;
    width: 95px;
    height: 45px;
    font-weight: bold;
    cursor: pointer;
}

/*Trending kısmındaki kalp ikonu*/
.container .trending .right i {
    color: purple;
    font-size: 20px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
}

/*Genre kartlarının bulunduğu alanın stilini ayarlıyoruz*/
.container .genres {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* Kartları dikey olarak hizalar */
    align-items: flex-start;
    /* Kartları sola yaslar */
}

/*Genre cardın özelliklerini burada veriyoruz*/
.genre-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: 100px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;

}

/*Genre cardların rengini belirleme*/
.electro-pop {
    background-color: #627a8d;
}

.dance-beat {
    background-color: #b5a89a;
}

.clubhouse-remix {
    background-color: #a05132;
}

.hip-hop-rap {
    background-color: #0a4344;
}

.alternative-indie {
    background-color: #b390ab;
}

.classical-period {
    background-color: #665ca7;
}

/*Playlistteki şarkıların yazı rengi*/
.container .items .item {
    color: white;

}

/*En altta şarkı oynatma kısmının stilini belirliyoruz*/
.player {
    padding: 10px;
    padding-top: 30px;
    color: white;
    background-color: #18181d;
}

/* Audio kontrolünün genel stilini belirler */
audio {
    width: 100%;
    /* Kontrolün tam genişliği kaplamasını sağlar */
    height: 30px;
    /* Kontrolün yüksekliğini belirler */

}

/* Audio kontrol çubuğunun stilini belirler */
audio::-webkit-media-controls-panel {
    background-color: #18181d;
    /* Arka plan rengini siyah yapar */
    color: #fff;
    /* Yazı rengini beyaz yapar */
}

/* Play butonu ve diğer media kontrol ikonlarının stilini belirler */
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-toggle-closed-captions-button,
audio::-webkit-media-controls-fullscreen-button {
    filter: brightness(1) invert(1);
    /* İkonları beyaz yapar */
}

/* playlist kısmındaki oynatma ikonunun stilini belirliyoruz */
.play-button {
    background-color: #0f0f12;
    border: none;
    color: white;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

/*Music Page*/
.music_container {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #C73072 15%, #18181d 50%, #18181d 40%);
}

.music_container h1 {
    color: white;
    font-size: 60px;
    padding: 50px;
    padding-left: 120px;
}

.music_container h3 {
    color: white;
    font-size: 28px;
    padding: 30px;
    padding-left: 120px;


}

.music_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.music_pages {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* Fotoğraflar arasındaki boşluk */
    padding: 20px;
}

.music_pages img {
    width: 150px;
    /* Fotoğrafların genişliği */
    height: 150px;
    /* Fotoğrafların yüksekliği */
    object-fit: cover;
    /* Fotoğrafların oranlarını koruyarak kırpmak */
    border-radius: 10px;
    /* Köşeleri yuvarlatma */
}

/*Podcast Page*/
.podcast_container {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #06604e 15%, #18181d 50%, #18181d 40%);
}

.podcast_container h1 {
    color: white;
    font-size: 60px;
    padding: 50px;
    padding-left: 120px;
}

.podcast_container h2 {
    color: white;
    font-size: 28px;
    padding: 30px;
    padding-left: 120px;


}

.podcast_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.podcast_pages {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* Fotoğraflar arasındaki boşluk */
    padding: 20px;
}

.podcast_pages img {
    width: 150px;
    /* Fotoğrafların genişliği */
    height: 150px;
    /* Fotoğrafların yüksekliği */
    object-fit: cover;
    /* Fotoğrafların oranlarını koruyarak kırpmak */
    border-radius: 10px;
    /* Köşeleri yuvarlatma */
}

/*Live Page*/
.live_container {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #0D65D9 15%, #18181d 50%, #18181d 40%);
}

.live_container h1 {
    color: white;
    font-size: 60px;
    padding: 50px;
    padding-left: 120px;
}

.live_container h2 {
    color: white;
    font-size: 28px;
    padding: 30px;
    padding-left: 120px;


}

.live_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.live_pages {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* Fotoğraflar arasındaki boşluk */
    padding: 20px;
}

.live_pages img {
    width: 150px;
    /* Fotoğrafların genişliği */
    height: 150px;
    /* Fotoğrafların yüksekliği */
    object-fit: cover;
    /* Fotoğrafların oranlarını koruyarak kırpmak */
    border-radius: 10px;
    /* Köşeleri yuvarlatma */
}