<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Live Events</title>
</head>

<body>
    <!--live sayfasının tarasımı-->
    <div class="live_container">
        <h1>Live Events</h1>
        <hr style="border-color: #133a6f; border-width: 2px;">
        <h2>Recommended for you</h2>
        <div class="live_pages">
            <!--Live sayfasına img eklendi-->
            <div class="live_item">
                <img src="{{ url_for('static', filename='assets/live/hansZimmer.jpg') }}" alt="Hans Zimmer">
                <p style="padding-top: 10px;">Hans Zimmer </p>
            </div>
            <div class="live_item">
                <img src="{{ url_for('static', filename='assets/live/köfn.jpg') }}" alt="Köfn">
                <p style="padding-top: 10px;">Köfn </p>
            </div>
            <div class="live_item">
                <img src="{{ url_for('static', filename='assets/live/madrigal.jpg') }}" alt="Madrigal">
                <p style="padding-top: 10px;">Madrigal </p>
            </div>
            <div class="live_item">
                <img src="{{ url_for('static', filename='assets/live/manga.jpg') }}" alt="Manga">
                <p style="padding-top: 10px;">Manga </p>
            </div>
            <div class="live_item">
                <img src="{{ url_for('static', filename='assets/live/maviGri.jpg') }}" alt="Mavi Gri">
                <p style="padding-top: 10px;">Mavi Gri </p>
            </div>
        </div>
        <div class="live_pages">
            <div class="live_item">
                <img src="{{ url_for('static', filename='assets/live/seksendört.jpg') }}" alt="Seksendört">
                <p style="padding-top: 10px;">Seksendört </p>
            </div>
            <div class="live_item">
                <img src="{{ url_for('static', filename='assets/live/morVeÖtesi.jpg') }}" alt="Mor Ve Ötesi">
                <p style="padding-top: 10px;">Mor Ve Ötesi </p>
            </div>
            <div class="live_item">
                <img src="{{ url_for('static', filename='assets/live/mertDemir.jpg') }}" alt="Mert Demir">
                <p style="padding-top: 10px;">Mert Demir </p>
            </div>
            <div class="live_item">
                <img src="{{ url_for('static', filename='assets/live/emirCanİğrek.jpg') }}" alt="emirCanİğrek">
                <p style="padding-top: 10px;">Emir Can İğrek </p>
            </div>
            <div class="live_item">
                <img src="{{ url_for('static', filename='assets/live/semicenk.jpg') }}" alt="Semicenk">
                <p style="padding-top: 10px;">Semicenk </p>
            </div>
        </div>
    </div>

</body>

</html>