<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Podcasts</title>
</head>

<body>
    <!--Podacast sayfasının tasarımı-->
    <div class="podcast_container">
        <h1>Podcasts</h1>
        <hr style="border-color:#132c2b; border-width: 2px;">
        <h2>Categories</h2>
        <div class="podcast_pages">
            <!--podcast sayfasına img eklendi-->
            <div class="podcast_item">
                <img src="{{ url_for('static', filename='assets/podcasts/beyhanBudak.jpg') }}" alt="Beyhan Budak">
                <p style="padding-top: 10px;">Beyhan Budak</p>
            </div>
            <div class="podcast_item">
                <img src="{{ url_for('static', filename='assets/podcasts/barisÖzcan.jpg') }}" alt="Barış Özcan">
                <p style="padding-top: 10px;">Barış Özcan</p>
            </div>
            <div class="podcast_item">
                <img src="{{ url_for('static', filename='assets/podcasts/hikayedenAdamlar.jpg') }}"
                    alt="Hikayeden Adamlar">
                <p style="padding-top: 10px;">Hikayeden Adamlar</p>
            </div>
            <div class="podcast_item">
                <img src="{{ url_for('static', filename='assets/podcasts/portalİleYansıma.jpg') }}"
                    alt="Portal ile Yansıma">
                <p style="padding-top: 10px;">Portal ile Yansıma</p>
            </div>
            <div class="podcast_item">
                <img src="{{ url_for('static', filename='assets/podcasts/satilacakBilgi.jpg') }}" alt="Satılacak Bilgi">
                <p style="padding-top: 10px;">Ortamlarda Satılacak Bilgi</p>
            </div>
        </div>
        <div class="podcast_pages">
            <div class="podcast_item">
                <img src="{{ url_for('static', filename='assets/podcasts/ted.jpg') }}" alt="TED Talks">
                <p style="padding-top: 10px;">TED Talks</p>
            </div>
            <div class="podcast_item">
                <img src="{{ url_for('static', filename='assets/podcasts/listeningTime.jpg') }}" alt="Listening Time">
                <p style="padding-top: 10px;">Listening Time</p>
            </div>
            <div class="podcast_item">
                <img src="{{ url_for('static', filename='assets/podcasts/sesliKitap.jpg') }}" alt="Sesli Kitap">
                <p style="padding-top: 10px;">Sesli Kitap</p>
            </div>
            <div class="podcast_item">
                <img src="{{ url_for('static', filename='assets/podcasts/fularsızEntellik.jpg') }}"
                    alt="Fularsız Entellik">
                <p style="padding-top: 10px;">Fularsız Entellik</p>
            </div>
            <div class="podcast_item">
                <img src="{{ url_for('static', filename='assets/podcasts/açıkBeyin.jpg') }}" alt="Açık Beyin">
                <p style="padding-top: 10px;">Açık Beyin</p>
            </div>
        </div>
    </div>

</body>

</html>